@charset "utf-8";




@import url('https://fonts.googleapis.com/css2? family = Playfair + Display: wght @ 800 & display = swap');

  
       :root{   
              --cor1:#0000EE;
              --cor2:#4285F4;
              --cor3:#F1F3F4;
              --cor4:#3DDC84;
              --cor5:#000000;
              --cor6:#404040;
              --cor7:#C6C6C6;

              /*18/12/21*/
         --fonte-padrao:arial,Verdana,Helvetica,sans-serif;
          --fonte-padrao_dois:'Playfair';}

          body{background-color: var(--cor7);}
         

            header{width: 1320px;
                    height: 200px;
                     background-color: var(--cor4);
                      border: solid black 3px;
                      border-bottom-left-radius:40px;
                      border-bottom-right-radius:40px ;}

                      #titulo-site{font-size: 6em;
                                    font-family: var(--fonte-padrao_dois);
                                        margin-top: -20px;
                                             padding-left: 60px;
                                             font-weight: bolder;
                                            font-variant: small-caps;}

         #p-cabecalho{font-family:var(--fonte-padrao_dois);
                       font-size: 3em;
                         font-weight: bolder;
                           padding-left: 15px;
                              margin-top:-80px ;
                                } 
                                
          /*criando o  estilo menu*/


         #menu{margin-left: 280px;
                  margin-top: -80px;}

          #menu ul{/*Nesse caso para melhor estetica visual da a cor de fundo no a */
            list-style-type: none;
              max-width: 700px;}

  #menu ul li{display: inline;}

            #menu ul li a{text-decoration: none;
                           text-transform: uppercase;
                          color:white;
                           font-weight: bolder;
                           display: inline-block;
                           padding: 15px;
                           border-bottom: solid black 3px;
                           border-bottom-left-radius:10px;
                           border-bottom-right-radius:10px ;}

             #menu a{background-color:var(--cor6)}

             #menu ul li a:hover{background-color:var(--cor3);
                                  color:black;} 
                                   
                                  
       #menu ul ul{display: none;
                    left: 50px;
                    position: absolute;} 
                    
       #menu ul li:hover ul{display: block;}  
       
      
       #menu #um{margin-left:410px;
                   width:80px;}

       #menu ul ul li a{display: block;
                         background-color: var(--cor3);
                          color: #000000;
                          } 

       #menu #dois{margin-left:580px;
                   width:80px;}


                   


            /*-------------------------------------------11/03/22*/
                 
   .mascote{width: 1300px;
             height: 780px;
             background-color:var(--cor4);
            margin-left: 15px;
            margin-top: 10px;
            }  
            
    #titulo{text-align: center;
            padding-top: 30px;
            font: var(--fonte-padrao_dois);
             font-variant: small-caps;
              font-size: 2.1em;
              margin-top: -5px;} 

                /*Reestruturando para uma sectio e dividindo o texto em duas colunas 13/03/22*/

    #sec-mascote{border: #000000 solid 3px;}            

    .masc{width:1240px;
           height: 460px;
          background-color:var(--cor3);
          display: inline-block;
           columns: 2;
           margin-left: 30px;
           border: #000000 solid 3px;
          } 
        
          .masacote{font: var(--fonte-padrao_dois);
              font-size: 2.1em;
               font-variant: small-caps;
             text-align: center;
             margin-top: 10px;
             line-height: 1.0em;
             

             }


      #masc-02{padding-top: 10px;}
         

            .textinos {font: var(--fonte-padrao_dois);
              margin-left: 40px;
              font-size: 1.2em;
               text-indent: 30px; /*cria paragrafo*/}

              
            #danBug{width: 300px;
                     height: 195px;
                     background-image: url(images/animacao-01.gif);
                    margin-top:20px;
                    margin-left: 520px;} 
                    
              a{color:#0000EE;
                font-weight: bolder;
                background-color: aquamarine;} 
                
              a:hover{color: aliceblue;
                      background-color: var(--cor6);
                      
                     }  
                    
/*12/03/22, section docinhos 13/03/22*/

           .docinhos{width: 1100px;
                     height: 500px;
                     background-color:var(--cor4);
                      border: solid black 3px;
                      margin-left: 110px;
                      margin-top: 5px;
                     }
                     
          #doc-tit{font: var(--fonte-padrao_dois);
                    font-size: 2.1em;
                    font-variant: small-caps;
                    text-align: center;}
                    
         #doc-p{font: var(--fonte-padrao_dois);
                margin-left: 40px;
                font-size: 1.2em;}  
                
        #slider-docinhos{width: 602px;
                          height: 302px;
                          border: solid black 3px;
                          margin-top: 20px;
                          margin-left: 235px;
                          position: relative;}  
                          
                          
      #slides-docinhos{width: 600px;
                        height: 300px;
                        background-color:blueviolet;
                        margin-top: 1px;
                        margin-left: 1px;
                        position: absolute;
                        background-image: url(images/img-versoes/nimacao-III.gif);
                       }  
                       
                       

                       /*section videos 13/03/22*/

       #videos{width: 1100px;
               height: 350px;
               background-color: var(--cor4);
               margin-left: 112px;
               margin-top: 4px;
               border: #000000 solid 3px;}

       .videos-curiosidades{width: 200px;
                             height: 200px;
                              border: #000000 solid 3px;
                              display:inline-block;
                              }  
                              
       #v-c-01{margin-left:200px;}                       


     #v-c-02{margin-left: 20px;}

     #v-c-03{margin-left: 20px;}
              

  footer{width:1320px;
          height: 100px;
           background-color: #000000;
           margin-top: 10px;
           border-bottom-left-radius:25px;
           border-bottom-right-radius:25px ;
           border: var(--cor4) solid 4px;
          }

                       
         
#p-footer{color: #F1F3F4;
              text-align: center;
              padding-top:50px ;}

        
          
         



